* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	
}

.contactContainer{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    text-align: left;
    padding-top: 3%;
    max-height: max-content;
    /* background-image: url("../Imgs/darkneonskyline.jpg"); */
  /* background-size: cover; */
  font-family: Arial, Helvetica, sans-serif;

}

.alert{
    font-size: 20px;
    background-color: transparent;
    color: rgb(1, 238, 1);
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

input[type=text] {
    padding: 10px;

  }

.container h1{
    padding-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.Red{
    color: #f4543c;
    font-family: Arial, Helvetica, sans-serif;
}

.contactHeading{
    display: flex;
    align-items: left;
    text-align: left;
    margin-left: 20%;
}
  
.Info{
    margin-left: 20%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.writtenText{
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    width: 50%;

}

.CButton{
    margin-bottom: 2%;
    padding: 0.5%;
    color: azure;
    background-color: #f4543c;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 1%;
    border-radius: 3%;
    margin-left: 20%;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.Info .name{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: left;
    align-items: left;

}

.FName{
    background-color: transparent;
    border: none;
    border-bottom: #f4543c solid 2px;
    color: azure;
}

.LName{
    background-color: transparent;
    border: none;
    border-bottom: #f4543c solid 2px;
    color: azure;
}

.cont{
    background-color: transparent;
    border: none;
    border-bottom: #f4543c solid 2px;
    color: azure;
}

.sub{
    background-color: transparent;
    border: none;
    border-bottom: #f4543c solid 2px;
    color: azure;
}
.query{
    background-color: transparent;
    border: none;
    border-bottom: #f4543c double 2px;
    color: azure;
    
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1200px) {
     .Info{
        margin-left: 23%;
        margin-right: 23%;

    }
}

@media screen and (max-width: 800px) {
    .Info{
       margin-left: 23%;
       margin-right: 23%;
       display: flex;
       flex-direction: column;
   }
   .Info .name{
    display: flex;
    flex-direction: column;
}

   .FName{
    margin-bottom: 7%;
   }
   .LName{
    margin-bottom: 7%;
   }

   .cont{
    margin-bottom: 7%;
   }

   .Sub{
    margin-bottom: 7%;
   }
}


