* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	
}

.contactContainer{
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 3%;
    max-height: max-content;
    /* background-image: url("../Imgs/darkneonskyline.jpg"); */
  /* background-size: cover; */


}


input[type=text] {
    padding: 10px;
    border-radius: 15px;
  }

.container h1{
    padding-bottom: 5%;
}

.Info{
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.writtenText{
    padding-top: 3%;
    padding-bottom: 3%;
}

textarea{
    width: 50%;
    border-radius: 15px;
}

button{
    margin-bottom: 2%;
    padding: 0.5%;
    color: azure;
    background-color: #f4543c;
    border-radius: 100px;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1200px) {
     .Info{
        margin-left: 23%;
        margin-right: 23%;

    }
}

@media screen and (max-width: 800px) {
    .Info{
       margin-left: 23%;
       margin-right: 23%;
       display: flex;
       flex-direction: column;
   }

   .Name{
    margin-bottom: 7%;
   }

   .cont{
    margin-bottom: 7%;
   }

   .Sub{
    margin-bottom: 7%;
   }
}


