@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Nanum+Gothic+Coding&family=Public+Sans:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    
  }
  

  .main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  padding-top: 10%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  text-align: right;
  color: white;
  z-index: -1;
}

.content h1{
    font-family: 'Public Sans';
    color: black;
    font-size: 400%;
    animation: fadeIn 3s;
}

.content p{
    font-family: 'Public Sans';
    color: black;
    font-size: 300%;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}

.comp2{
    width: 100%;
    height: 100vh;
    background-color: #F0F3F6;
}

.Header2{
    padding-top: 5%;
    color: black;
    display: flex;
    justify-content: center;
    animation: fadeIn 3s;
}