@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Nanum+Gothic+Coding&family=Public+Sans:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Mukta:wght@600&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@500&family=Public+Sans:wght@800&display=swap');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");


* {
    margin: 0;
    padding: 0;
    
  }


  
.gap{
  width: 100%;
  height: 60vh;
  background-color: black;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.title{
  color: white;
}

.video1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  padding-top: 10%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  text-align: right;
  color: white;
  z-index: -1;
}


/* 
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: rgb(62, 26, 26);
  --color-2: rgb(84, 84, 84);
  --color-3: #985e5d;
}

.title-word-2 {
  --color-1: #7f6429;
  --color-2: #5e7370;
  --color-3: #17494D;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
} */

.content h1{
    font-family: 'Public Sans';
    color: azure;
    font-size: 400%;
    animation: fadeIn 3s;
}

.content p{
    font-family: 'Public Sans';
    color: azure;
    font-size: 300%;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}


.comp2{
    width: 100%;
    max-height: max-content;
    /* background-color: white; */
    padding-bottom: 5%;
    z-index: -1;
    /* background-image: url("../Imgs/Background4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.Header2{
    padding-top: 5%;
    color: black;
    display: flex;
    justify-content: center;

}


.comp2 h1{
  
  color: white;
  font-size: 250%;
}


/* adapted from: https://codepen.io/hunterbecton/pen/jOzVLGR?product_id=OSdSmf8U8JL72Ydt5HfrEQ%3D%3D&product_permalink=cgybb&sale_id=xMwfMkRWW-SixaumayUNLA%3D%3D */
.slider-wrapper {
  position: relative;
  max-width: 70%;
  max-height: max-content;
  padding-top: 2%;
  margin: 0 auto;
  z-index: -1;
}
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
  max-height: max-content;
  z-index: -1;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider .box {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  width: 100%;
  padding-bottom: 2%;
  max-height: max-content;
  display: flex;
  justify-content: center;
  background-color: #3f3f3f;
  color: white;
  z-index: -1;
}
.slider-nav {
  padding-top: 3%;
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  
  
}
.slider-nav a {
  color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  transform: scale(1.3);
}

.services-description{
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 2rem;
  z-index: -1;
}

.services-description p{
  padding: 5px;
}

.bold{
  font-weight: 900;
}

.comp2 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 2%;
}
.video2{
  z-index: 1;
  resize: vertical;
}
.comp3{
  width: 100%;
  max-height: max-content;
  background-color: black;
}

.subcomp3{

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
  max-height: max-content;

}
.video2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.About{

  text-align: right;
  margin-right: 60%;
  color: azure;
  margin-top: 2%;
  margin-left: 3%;
}

.Why-Choose-Us{

  text-align: left;
  margin-left: 60%;
  color: azure;
  margin-bottom: 2%;
  margin-right: 3%;
}
/* 
.imgBackground: {
  width: '100%',
  height: '100%',
  flex: 1 
} */

.comp4{
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;
  max-height: max-content;
  padding-top: 5%;
  padding-bottom: 10%;
  /* background-image: url("../Imgs/bgtest.jpg"); */
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: azure;

}

.PricingPlans{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  color: azure;
  gap: 5px;
}


.plan1{
  max-width: 30%;
  background-color: transparent;
  box-shadow: #F0F3F6;
}

.plan2{
  max-width: 30%;
  background-color: transparent;
}
.plan3{
  max-width: 30%;
  background-color: transparent;
}

.Quote{
  padding-top: 5%;
}
.text-box{
  padding-top: 2%;
  display: flex;
  align-content: center;
  justify-content: center;
  
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: azure;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: azure;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.Quote p{
  font-size: 130%;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1200px) {

  .subcomp3{
    padding: 5%;
    display: flex;
    flex-direction: row;
  }
  .About{
    text-align: center;
    margin-right: 10%;
    
  }
  .Why-Choose-Us{
    text-align: center;
    margin-left: 10%;
  }


}



@media screen and (max-width: 1050px) {
  
  .PricingPlans{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
.plan1{
  max-width: 700%;
  background-color: transparent;
  box-shadow: #F0F3F6;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.plan2{
  max-width: 700%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
}
.plan3{
  max-width: 700%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  text-align: center;
  
}
.comp4 .header4{
  font-size: 230%;
}

.comp4 h1{
  font-size: 200%;
}


}


@media screen and (max-width: 900px) {

  .subcomp3{
    padding: 5%;
    display: flex;
    flex-direction: column;
  }

  .About{
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    
  }
  .Why-Choose-Us{
    text-align: center;
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .comp4 .header4{
    font-size: 200%;
  }

  .comp4 h1{
    font-size: 130%;
  }


}



@media screen and (max-width: 800px) {

  .content{
    padding-right: 0%;
  }

  .content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    font-size: 300%;
    
  }

  .content p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 240%;

  }



}



@media screen and (max-width: 600px) {

  /* .main {
    background-image: url("../Imgs/Background5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .comp3{
    background-image: url("../Imgs/Background14.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */

  .gap{
    height: 40vh;;
  }
  .content{
    padding-right: 0%;
    margin-top: 20%;
  }

  .content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    font-size: 250%;
    
  }

  .content p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;

  }

  .comp2 h1{
    font-size: 180%;
  }

  .slider-wrapper {
    
    max-width: 85%;
  }

  .services-description{
    font-size: 85%;
  }

  .subcomp3{
    padding: 5%;
    display: flex;
    flex-direction: column;
  }

  .About{
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
    font-size: 75%;
    
  }
  .Why-Choose-Us{
    text-align: center;
    padding-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 75%;
  }

  .comp4 .header4{
    font-size: 170%;
  }

  .comp4 h1{
    font-size: 120%;
  }

  .plan1 p, .plan2 p, .plan3 p{
    font-size: 90%;
  }

  .Quote p{
    font-size: 100%;
  }

  .text-box{
    font-size: 80%;
  }

  .comp4{
    padding-bottom: 20%;
  }
    
}














/* for the mouse */
/* *,
*::before,
*::after {
  cursor: none;
}
.main {

  font-family: "Mochiy Pop One", sans-serif;
}

.title {
  font-size: 5rem;
}

.cursor {
  background-color: #111;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
} */


.Content1, .Content2, .box, .plan1, .plan2, .plan3{
  background-color: #3f3f3f;
  border-radius: 25px;
  padding: 4px;
}