@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Nanum+Gothic+Coding&family=Public+Sans:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Mukta:wght@600&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@500&family=Public+Sans:wght@800&display=swap');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
<div className="comp5" id="Portfolio">
    <Fade bottom>
    <div className="PortfolioH">
        <h1>
          PORTFOLIO
        </h1>
    </div>
      </Fade>
    <div className="cards">
    <div class="container">
    <div class="card">
      <div class="front front1"></div>
      <div class="back back1">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
        <a href="https://www.google.com" target="_blank">
      <button className="projectButton">
        View Project
      </button></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="front front2"></div>
      <div class="back back2">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
        <a href="https://www.google.com" target="_blank">
      <button className="projectButton">
        View Project
      </button></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="front front3"></div>
      <div class="back back3">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
        <a href="https://www.google.com" target="_blank">
      <button className="projectButton">
        View Project
      </button></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="front front4"></div>
      <div class="back back4">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
        <a href="https://www.google.com" target="_blank">
      <button className="projectButton">
        View Project
      </button></a>
      </div>
    </div>
  </div>
    <div class="container">
    <div class="card">
      <div class="front front5"></div>
      <div class="back back5">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
        <a href="https://www.google.com" target="_blank">
      <button className="projectButton">
        View Project
      </button></a>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="front front6"></div>
      <div class="back back6">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
        <a href="https://www.google.com" target="_blank">
      <button className="projectButton">
        View Project
      </button></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="front front7"></div>
      <div class="back back7">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
        <a href="https://www.google.com" target="_blank">
      <button className="projectButton">
        View Project
      </button></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="front front8"></div>
      <div class="back back8">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
        <a href="https://www.google.com" target="_blank">
      <button className="projectButton">
        View Project
      </button>
    </a>
      </div>
    </div>
  </div>
  </div>
  
    </div>


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


  
.gap{
  width: 100%;
  height: 60vh;
  background-color: black;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.title{
  color: white;
}

.Red{
  color: #f4543c;
  font-family: Arial, Helvetica, sans-serif;
}


.content {
  padding-top: 15%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-content: right;
  text-align: right;
  color: white;
  padding-right: 10%;
}

.heroitems{
  z-index: -1;
}


.content h1{
  font-family: Arial, Helvetica, sans-serif;
      color: azure;
    font-size: 400%;
    animation: fadeIn 3s;
}

.content p{
  font-family: Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 300%;
    animation: fadeIn 3s;
}

.content .a{
  padding-top: 3%;
  font-size: 200%;
}

.text-box1{
  padding-top: 2%;
  display: flex;
  
}

.text-box2{
  display: flex;
  justify-content: right;

  padding-top: 3%;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}

span :hover{
  color: black;
  font-size: 20px;
  cursor: none;
}
.comp2{
    width: 94%;
    min-height: 100vh;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 3%;
    max-height: max-content;
    background: linear-gradient(0deg, rgba(0,0,0,1) 9%, rgba(142,142,142,1) 30%, rgba(242,241,241,1) 50%);

    z-index: -1;
     /* background-image: url("../Imgs/Whiteeee.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  */
}

.Header2{
    padding-top: 5%;
    color: black;
    display: flex;
    justify-content: center;

}


.comp2 h1{
  font-family: "Oswald";
  color: black;
  background-color: transparent;
  font-size: 250%;
}


.comp5 .PortfolioH{


    font-size: 170%;
  
}

.PortfolioH h1{

  font-family: "Oswald";

}





.services-description{
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 2rem;
  z-index: -1;
}

.services-description p{
  padding: 5px;
}

.bold{
  font-weight: 900;
}


.comp2 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 2%;
}
.video2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  resize: vertical;
}
.comp3{
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  /* background-color: black; */
}

.subcomp3{

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
  max-height: max-content;

}

.About{

  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  color: azure;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;

  /* background: linear-gradient(110deg, #591F16 60%, transparent 60%);
  border-radius: 5%; */
  padding-bottom: 1%;
}

.About p{
  color: azure;

}

.About .AboutH{
  font-size: 170%;
  font-family: 'Oswald';
  
}

.About .AllH{
  font-family: 'Oswald';
  
}

.Why-Choose-Us{

  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  color: azure;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;

  padding-bottom: 1%;
  /* background: linear-gradient(70deg, transparent 40%,  #591F16 40%);
  border-radius: 5%; */
}

.Why-Choose-Us .ChooseH{
  font-size: 170%;
  font-family: 'Oswald';

}

.Why-Choose-Us .WhyH{
  font-family: 'Oswald';
}

.About .ScratchZero{
  font-size: 150%;
}

.Why-Choose-Us .ScratchZero{
  font-size: 150%;
}

.Content1 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.Content2 p{
  font-size: 20px;
}




.Social-Links{

  text-align: center;
  margin-right: 4%;
  margin-left: 4%;
  color: azure;
  margin-top: 4%;
  margin-bottom: 3%;

}
.Social-Links a{
  text-decoration: none;
  color: azure;
}
.scale1{
  font-size: 180%;
  margin-top: 1%;
  margin-right: 2%;
}
.scale2{
  font-size: 180%;
  margin-top: 1%;
  margin-right: 2%;
}
.scale3{
  margin-top: 1%;
  font-size: 180%;
}


.scale1:hover{
  transform: scale(2);
}
.scale2:hover{
  transform: scale(2);
}
.scale3:hover{
  transform: scale(2);
}

.comp2 .ServicesH{
  font-size: 170%;
  font-family: "Oswald";
  color: #f4543c;

}




.comp5{
  padding-top: 3%;
  width: 100%;
  max-height: max-content;
}



.wrapper2{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  gap: 5%;
}

.card2{
  width: 350px;
  height: 450px;
  max-height: max-content;
  padding: 2rem 1rem;
  background-color: black;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transform: 0.5s ease-in-out;
  margin-bottom: 5%;
  padding-bottom: 3%;

}

 .img1{

   background-image: url("../Imgs/ServicesBG.jpeg"); 
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    display: flex;
    max-height: max-content;
    flex-direction: column;
    padding-bottom: 3%;

    border-radius: 5%;
}  



.card2:hover{
  transform: translateY(20px);
}

.card2:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(128,36,36,0.7120973389355743) 0%, rgba(207,72,52,0.936186974789916) 31%);  
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 5%;
}

.card2:hover:before{
  opacity: 1;
}

.card2 h1{
  margin-right: 2%;
  padding-left: 3%;
  margin-left: 2%;
  width: 100%;
  font-size: 400%;
  line-height: 100%;
  color: azure;
}

 .card2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

}



.card2 .information1{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  font-size: 20px;
  line-height: 30px;
  margin-top: -30%;
} 

.card2:hover .information1{
  opacity: 1;
  transform:  translateY(0px);
}

.information1{
  margin-bottom: 0%;
}
.information1 .lottie3{
  text-align: center;
  margin-bottom: 5%;
}

.information1 .lottie1{
  text-align: center;
  margin-bottom: 12%;
  margin-top: 3%;
}
.information1 .lottie2{
  text-align: center;
  margin-bottom: 5%;
}

.information1 .lottie3{
  text-align: center;
  margin-bottom: 4%;
}

.information1 .lottie4{
  text-align: center;
  margin-bottom: 10%;
}

.information1 .lottie5{
  text-align: center;
  margin-bottom: 10%;
}

.comp4{
  display: flex;
  flex-direction: column;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  border-radius: 5%;
  align-items: center;
  min-height: 100vh;
  max-height: max-content;
  padding-top: 5%;
  padding-bottom: 10%;

  opacity: 1;
    color: black;
    background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(54,54,54,1) 13%, rgba(124,124,124,1) 
    30%, rgba(190,190,190,0.936186974789916) 46%, rgba(237,237,237,0.936186974789916) 61%, rgba(247,247,247,0.936186974789916) 68%);

}

.services{
  margin-left: 3%;
  margin-right: 3%;


  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  color: azure;
  justify-content: center;
  align-content: center;
}


.service{
  width: 300px;
  min-height: 550px;
  max-height: max-content;
  background-color: transparent;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 5%;
  transition: 0.9s;
}



.services p{
  line-height: 30px;
  font-size: 17px;
  text-align: center;
}
.services h1{

  text-align: center;
}
.Quote{
  padding-top: 5%;
}



.text-box{
  padding-top: 2%;
  display: flex;
  align-content: center;
  justify-content: center;
  

}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.single-price .btn:link,
.btn:visited {

    padding: 5px 20px;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #f4543c;;
    color: azure;
}

.btn-white1 {
  background-color: #f4543c;
  color: azure;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #f4543c;
}
.btn-white1::after {
  background-color: #f4543c;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.single-price .btn:hover::after {
  transform: scaleX(1.1) scaleY(1.3);
  opacity: 0;
}


.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.projectButton{
  margin-bottom: 2%;
  color: azure;
  background-color: #f4543c;
  font-family: Arial, Helvetica, sans-serif;

  
  border: none;
  width: max-content;

padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
border-radius: 16px;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.Quote p{
  font-size: 130%;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.comp4 .PricingH{
  font-size: 400%;
  color: black;
  font-family: "Oswald";
}

.comp4 .PricingSH{
  font-size: 150%;
  color: black;
  font-family: "Oswald";
}
.package1 h1{

  margin-top: 10%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(30deg, #f4543c 50%, transparent 50%);
  text-align: left;
  font-family: "Oswald";
  color: azure;
  font-size: 80px;
  padding-left: 10%;
  margin-bottom: 5%;
}
.package2 h1{

  margin-top: 10%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(30deg, #f3443c 70%, transparent 50%);
  text-align: left;
  font-family: "Oswald";
  color: azure;
  font-size: 80px;
  padding-left: 10%;
  margin-bottom: 5%;
}

.package3 h1{

  margin-top: 10%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(30deg, #f3443c 65%, transparent 50%);
  text-align: left;
  font-family: "Oswald";
  color: azure;
  font-size: 80px;
  padding-left: 10%;
  margin-bottom: 5%;
}

.comp5{
  background-color: black;
   background-image: url("../Imgs/Background17.jpg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    max-height: max-content;
    width: 100%;

}

.comp6{


    max-height: max-content;
    width: 100%;


}

.subcomp6{
  display: flex;
  flex-direction: row;
}

.contact{
  width: 50%;
}



.contact-quote{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}


.comp2 svg {

                opacity: 1;
                width: 90%;
                margin-right: 5%;
                margin-left: 5%;
                height: 50px;
                fill: black;
                transform: rotateX(0deg);
                top:0;

}





.contact-quote p{
  color: azure;
  font-size: 17px;
  line-height: 25px;
}

.contact-quote .heading{
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: left;
  margin-left: 0;
  padding-left: 0;
}

.comp5 h1{
  color: white;
  background-color: transparent;
  font-size: 250%;
  text-align: center;
  padding: 2% 0;
}

.comp6 h1{
  color: white;
  background-color: transparent;
  font-size: 250%;
  text-align: center;
  padding: 2% 0;
}

.cards{
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  align-items: center;
  justify-content: center;
  
}



.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
  padding: 3% 0;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front1 {
  background-image: url("../Imgs/Reservim2.png");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.back1 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.front2 {
  background-image: url("../Imgs/doctorfindy2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.back2 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.front3 {
  background-image: url("../Imgs/Card3.jpeg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.back3 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.front4 {
  background-image: url("../Imgs/Card4.jpeg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.back4 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.front5 {
  background-image: url("../Imgs/Card5.jpeg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.back5 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.front6 {
  background-image: url("../Imgs/Card6.jpeg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.back6 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.front7 {
  background-image: url("../Imgs/Card7.jpeg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.back7 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.front8 {
  background-image: url("../Imgs/Card8.jpeg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.back8 {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}


/* 
.plan1, .plan2, .plan3{
  border: 3px solid #f4543c;
  -moz-box-shadow: 0 0 8px azure;
  -webkit-box-shadow: 0 0 8px azure;
  box-shadow: 0 0 8px azure;
  border-radius: 25px;
  padding: 4px;
  background-color: black;
}  */

.pcontent{
  padding: 10px;
}

.wrapper3{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5%;
  margin-top: 5%;
  justify-content: center;
}

.single-price{
  width: 300px;

  margin-bottom: 5%;
  height: max-content;
  text-align: center;
  /* outline: black solid 3px; */
  transition: 0.9s;
  padding-bottom: 5%;

  color: black;
  background-color: #F1F3F5;

}


.price{
  width: 100%;
  height: max-content;
  display: flex;
  margin-bottom: 5%;
  justify-content: center;

  text-underline-offset: 40%;
}
.single-price h3{
  text-align: left;
  font-size: 100%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 200;
  color: #3a3a3a;
}

.single-price .pricingSubH{
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: #d5d5d5 solid 2px;
}

.price h2{
  font-size: 130%;
}

.single-price h1{

  font-size: 30px;
  color: white;
 
}
.check{
  color: green;
}

.deals h4{
  margin-left: 10%;
  text-align: left;
  margin-bottom: 3%;
  font-size: 17px;
  color: black;
  font-weight: normal;
  line-height: 2;
}

.single-price .deals{
  margin-top: 5%;
}


.price h2{
  font-size: 28px;
  color: black;
}

.single-price:hover{
  background-color: black;
  color: azure;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  transform: scale(1.1);
  z-index: 1;

  outline: black solid 3px;
}


.single-price:hover h1{
color: black;
}

.single-price:hover h3{
  color: azure;
  }

.single-price:hover h4{
  color: azure;
}


.single-price:hover h2{
  color: azure;
}

.price .priceH{
  font-size: 170%;
}


.price .monthH{
  font-size: 70%;
  font-weight: 100;
  font-family: "Oswald";
}

.single-price:hover .btn-white{
  background-color: #f4543c;
}

.single-price:hover .btn-white::after{
  background-color: #f4543c;
}


.pricingbtn{
  margin-top: 1%;
}

.comp6 .ContactH{
  font-size: 150%;

}

.ContactH h1{
  font-family: "Oswald";
}

@media screen and (max-width: 1200px) {

  .subcomp3{
    padding: 5%;
    display: flex;
    flex-direction: row;
  }
  .About{
    text-align: center;
    margin-right: 10%;
    
  }
  .Why-Choose-Us{
    text-align: center;
    margin-left: 10%;
  }


}



@media screen and (max-width: 1050px) {
  
  .PricingPlans{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
.plan1{
  max-width: 700%;
  background-color: transparent;
  box-shadow: #F0F3F6;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.plan2{
  max-width: 700%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
}
.plan3{
  max-width: 700%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  text-align: center;
  
}
.comp4 .header4{
  font-size: 230%;
}

.comp4 h1{
  font-size: 200%;
}

.About{
  text-align: left;
  
  
}
.Why-Choose-Us{
  text-align: left;
  padding-top: 2%;
  
}


}


@media screen and (max-width: 900px) {

  .subcomp3{
    padding: 5%;
    display: flex;
    flex-direction: column;
  }

  .About{
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
    
  }
  .Why-Choose-Us{
    text-align: left;
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .About{
    text-align: left;
    
    
  }
  .Why-Choose-Us{
    text-align: left;
    padding-top: 2%;
    
  }

  .comp4 .header4{
    font-size: 200%;
  }

  .comp4 h1{
    font-size: 130%;
  }

  .subcomp6{
    display: flex;
    flex-direction: column-reverse;
  }
  .contact{
    width: 100%;
  }
  
  
  
  .contact-quote{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }


}



@media screen and (max-width: 800px) {

  .content{
    padding-right: 0%;
  }

  .content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    font-size: 300%;
    
  }

  .content p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 240%;

  }



}



@media screen and (max-width: 600px) {

  /* .main {
    background-image: url("../Imgs/Background5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .comp3{
    background-image: url("../Imgs/Background14.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */

  .gap{
    height: 40vh;;
  }
  .content{
    padding-right: 0%;
    margin-top: 20%;
  }

  .content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    font-size: 250%;
    
  }

  .content p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;

  }

  .comp2 h1{
    font-size: 180%;
  }

  .slider-wrapper {
    
    max-width: 85%;
  }

  .services-description{
    font-size: 85%;
  }

  .subcomp3{
    padding: 5%;
    display: flex;
    flex-direction: column;
  }

  .About{
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
    font-size: 75%;
    
  }
  .Why-Choose-Us{
    text-align: center;
    padding-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 75%;
  }

  .comp4 .header4{
    font-size: 170%;
  }

  .comp4 h1{
    font-size: 120%;
  }

  .plan1 p, .plan2 p, .plan3 p{
    font-size: 90%;
  }

  .Quote p{
    font-size: 100%;
  }

  .text-box{
    font-size: 80%;
  }

  .comp4{
    padding-bottom: 20%;
  }
    
}






