@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	
}


img{
	max-height: 100%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 2rem;
	background-color:  transparent;
	color: #eee;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.imageLink{
	height: 70%;
}

nav{
	margin-right: 10%;
	align-content: center;
	justify-content: center;
	
}

.Link {
	margin: 0 1rem;
	color: azure;
	text-decoration: none;
	font-size: 130%;
	font-size: 100%;
}

nav .Link:hover {
	color: #f4543c;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
	
}


header.active{
	background-color: black ;


}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		z-index: 100;
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 50%;
		margin-left: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: black ;
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	nav Link {
		font-size: 1.5rem;
	}
}