@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


.PComp1{
    width: 100%;
    max-height: max-content;
    margin: 0;
}
  
.PComp1 .Pcontent1{
    padding-top: 6%;


    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    color: white;

}

.Pcontent1 .Ptitle{
    color: white;
    font-size: 300%;
    font-family: "Oswald";
}

.Pcontent1 p{

    color: #f4543c;
    font-family: "Oswald";
    font-size: 200%;
}

.PComp2{
    width: 100%;
    max-height: max-content;
    margin: 0;
}

.Pcontent2{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: azure;

}

.Pcontent2 .SoftwareDevH{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 4%;
}
.SoftwareDevH h1{
    font-size: 300%;
    font-family: 'Oswald';
    text-align: left;
    line-height: 120%;
}

.gradient-underline {
    padding-bottom: 10px;
    position: relative;
    text-decoration: none;
    font-family: 'Oswald';
}

.gradient-underline::after {

    background: rgb(244,84,60);
background: linear-gradient(90deg, rgba(244,84,60,1) 7%, rgba(0,0,0,1) 91%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
 }

 .Pcontent2 .Projects-Arrows{
    width: 50%;
    overflow-x: hidden;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;

}
.Projects .cards{
    margin: 0;
}

.Pcontent2 .Projects{
    width: 100%;
    overflow-x: hidden;
    padding-top: 5%;
    padding-bottom: 5%;

}
.Pcontent2 .Pquote1{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.media-scroller::-webkit-scrollbar{
    width: 0;
}

.Pquote1 p{
    font-family: 'Oswald';
    font-size: 150%;
    line-height: 120%;
    color: #f4543c;
}


 .Pcontainer {
    width: 200px;
    height: 350px;
    perspective: 800px;
    display: flex;
    flex-direction: row;

    margin-top: 10%;
    margin-bottom: 10%;


  }
  
  .Pcontainer:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }



.Pfront,
.Pback {
  height: 100%;
  width: 100%;

  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.Pfront {
  background-image: url("../Imgs/Card1.jpeg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 3%;

}

.Pback {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
    overflow: hidden;
}

.Pfront2 {
    background-image: url("../Imgs/Card2.jpeg");
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
}
.Pback2 {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
      overflow: hidden;
}

.Pfront3 {
    background-image: url("../Imgs/Card3.jpeg");
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
}
.Pback3 {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
      overflow: hidden;
}

.Pfront4 {
    background-image: url("../Imgs/Card4.jpeg");
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
}
.Pback4 {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
      overflow: hidden;
}

.Pfront5 {
    background-image: url("../Imgs/Card5.jpeg");
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
}
.Pback5 {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
      overflow: hidden;
}

.Pfront6 {
    background-image: url("../Imgs/Card6.jpeg");
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
}
.Pback6 {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
      overflow: hidden;
}
  

  
 .media-scroller{
    display: grid;
    grid-auto-flow: column;
    gap: 2%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
 }

 .Projects-Arrows .Right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 2%;
    margin-left: -5%;
    font-size: 200%;
    z-index: 10;
    color: #f4543c;
 }

 .Projects-Arrows .Left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: -5%;
    margin-left: 2%;
    font-size: 200%;
    z-index: 10;
    color: #f4543c;
 }

 
@media screen and (max-width: 1050px) {
    .Pcontent2{
        width: 100%;
        padding-top: 5%;
        display: flex;
        flex-direction: column;

        color: azure;
        padding-top: 5%;
    
    }
    .Pcontent2 .SoftwareDevH{
        width: 100%;
    }

    .Pcontent2 .Projects-Arrows{
        width: 100%;

    
    }
    .Pcontent2 .Pquote1{
        width: 100%;

    }
}